<!-- © Daimler TSS GmbH-->
<!-- SPDX-License-Identifier: MIT-->

<div class="section-header">
  <div class="hyperlink">
    <a mat-button href="https://material.angular.io/components/button/overview" target="_blank" rel="noopener noreferrer">
      Button
      <i class="material-icons">open_in_new</i>
    </a>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between none" class="component-wrapper">
  <button mat-raised-button>Button</button>
  <button mat-button aria-hidden="true">Button</button>
  <button mat-stroked-button>Button</button>
</div>
<div fxLayout="row" fxLayoutAlign="space-between none" class="component-wrapper">
  <button mat-raised-button>
    <i class="material-icons" aria-hidden="true">edit</i>
    <span>Button</span>
  </button>
  <button mat-button>
    <i class="material-icons" aria-hidden="true">favorite</i>
    <span>Button</span>
  </button>
  <button mat-stroked-button>
    <i class="material-icons" aria-hidden="true">add</i>
    <span>Button</span>
  </button>
</div>
