// © Daimler TSS GmbH
// SPDX-License-Identifier: MIT

@import "src/styles";

.grid-list {
  margin-bottom: 30px;
}

.tile-footer {
  padding: 0 0 8px 4px;
}

.tile-footer-text {
  color: mat-color(
    $daimler-tss-theme-surface,
    default-contrast,
    $opacity-application-text-high
  ) !important;
  background-color: mat-color(
    $daimler-tss-theme-surface,
    default,
    $opacity-application-surface-low
  ) !important;
}
