// SPDX-License-Identifier: MIT

@import "../../../styles.scss";

mat-form-field {
  width: 100%;

  .mat-icon {
    margin-right: 8px;
    color: mat-color(
      $mbti-theme-surface,
      default-contrast,
      $opacity-application-icon-medium
    );
  }

  .align-text {
    text-align: right;
  }
}

.error-icon {
  color: mat-color($mbti-theme-error) !important;
}

.icon-cursor {
  cursor: pointer;
}

.field-element {
  margin-bottom: 8px;
}
