<!-- © Daimler TSS GmbH-->
<!-- SPDX-License-Identifier: MIT-->

<div class="section-header">
  <div class="hyperlink">
    <a mat-button href="https://material.angular.io/components/radio/overview" target="_blank" rel="noopener noreferrer">
      Radio button
      <i class="material-icons">open_in_new</i>
    </a>
  </div>
</div>
<div class="component-wrapper">
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button class="radio-button" color="primary" [checked]="false" value="1">
    </mat-radio-button>
    <mat-radio-button class="radio-button" color="accent" [checked]="true" value="2">
    </mat-radio-button>
  </mat-radio-group>
</div>
