<!-- © Daimler TSS GmbH-->
<!-- SPDX-License-Identifier: MIT-->

<div class="section-header">
  <div class="hyperlink">
    <a mat-button href="https://material.angular.io/components/dialog/overview" target="_blank" rel="noopener noreferrer">
      Dialog
      <i class="material-icons">open_in_new</i>
    </a>
  </div>
</div>
<div class="component-wrapper">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <div>
      <h6 class="mat-subheading-1 button-label">Basic dialog</h6>
      <kit-basic-dialog></kit-basic-dialog>
    </div>

    <div>
      <h6 class="mat-subheading-1 button-label">Dialog with radio buttons</h6>
      <kit-dialog-with-radio-buttons></kit-dialog-with-radio-buttons>
    </div>
  </div>
</div>
