<!-- © Daimler TSS GmbH-->
<!-- SPDX-License-Identifier: MIT-->

<div class="section-header">
  <div class="hyperlink">
    <a mat-button href="https://material.angular.io/components/card/overview" target="_blank" rel="noopener noreferrer">
      Card
      <i class="material-icons">open_in_new</i>
    </a>
  </div>
</div>
<div class="component-wrapper">
  <mat-card class="card">
    <mat-card-content matRipple class="card-content">
      <img
        mat-card-image
        alt="card image"
        src="/assets/images/pk_placeholder_landscape_small.png"
      />
      <div class="header">
        <h3 class="mat-subheading-1 overline">Overline</h3>
        <h2 class="mat-title">Headline 6</h2>
      </div>
      <div class="mat-body-2 body">
        Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut
        Labore Et Dolore Magna Aliqua.
      </div>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-button color="primary">Button</button>
      <button mat-button color="primary">Button</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card card-outline mat-elevation-z0">
    <mat-card-content matRipple class="card-content">
      <div class="header">
        <h2 class="mat-title">Headline 6</h2>
        <div class="mat-body-2">Body 2</div>
      </div>
      <div class="mat-body-2 body">
        Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut
        Labore Et Dolore Magna Aliqua.
      </div>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-button color="primary">Button</button>
      <button mat-button color="primary">Button</button>
    </mat-card-actions>
  </mat-card>
</div>
