// © Daimler TSS GmbH
// SPDX-License-Identifier: MIT

@import "../../../styles.scss";

.card {
  margin-bottom: 20px;
  padding: 0 !important;
}

.card-outline {
  border: 1px solid mat-color($daimler-tss-theme-outline);
}

.mat-card-image {
  margin-bottom: 0;
}

.mat-title {
  margin: 0 !important;
}

.header {
  padding: 16px;
}

.body {
  padding: 0 16px 8px;
}

.actions {
  margin: 0 !important;
  padding: 8px !important;
}

.card-content {
  margin: 0 !important;

  :hover {
    cursor: pointer;
  }
}
