<!-- SPDX-License-Identifier: MIT-->

<div class="main" fxLayoutAlign="center start">
  <div class="wrap-container" fxLayout="row wrap" fxLayout.lt-md="column">
    <kit-buttons-group></kit-buttons-group>
    <kit-top-app-bar></kit-top-app-bar>
    <kit-drawer></kit-drawer>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <kit-short-app-bar></kit-short-app-bar>
      <kit-menu></kit-menu>
    </div>
    <kit-linear-progress-bar></kit-linear-progress-bar>
    <kit-circular-progress></kit-circular-progress>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <kit-slide-toggle></kit-slide-toggle>
      <kit-checkbox></kit-checkbox>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <kit-radio-button></kit-radio-button>
      <kit-icon-button></kit-icon-button>
    </div>
    <kit-chips></kit-chips>
    <kit-select-menu></kit-select-menu>
    <kit-data-table></kit-data-table>
    <kit-data-table-sort></kit-data-table-sort>
    <kit-dialogs></kit-dialogs>
    <kit-fab-buttons></kit-fab-buttons>
    <kit-tabs></kit-tabs>
    <kit-slider></kit-slider>
    <kit-snackbar></kit-snackbar>
    <kit-card></kit-card>
    <kit-list></kit-list>
    <kit-text-field></kit-text-field>
    <kit-image-list></kit-image-list>
  </div>
</div>
