// SPDX-License-Identifier: MIT
@use '~@angular/material/theming' as material;
@use '~@daimler/productkit-core/dist/web/styles/mbti/scss/variables' as tokens;
@use '~@daimler/productkit-core/dist/web/utils/scss/utils' as utils;

$application: utils.map-deep-get(tokens.$tokens, "color", "application");
$mbti-theme-primary: material.mat-palette($application, "primary");
$mbti-theme-primary-variant: material.mat-palette($application, "primary-variant");
$mbti-theme-secondary: material.mat-palette($application, "secondary");
$mbti-theme-tertiary: material.mat-palette($application, "tertiary");
$mbti-theme-quaternary: material.mat-palette($application, "quaternary");
$mbti-theme-background: material.mat-palette($application, "background");
$mbti-theme-surface: material.mat-palette($application, "surface");
$mbti-theme-error: material.mat-palette($application, "error");
$mbti-theme-outline: material.mat-palette($application, "outline");

$font-family-text: tokens.$font-family-platform-text;
$font-family-heading: tokens.$font-family-platform-title;

$typography: material.mat-typography-config(
  $display-4:
    material.mat-typography-level(
      tokens.$font-application-l-headline1-font-size,
      tokens.$font-application-l-headline1-line-height,
      tokens.$font-application-l-headline1-font-weight,
      $font-family-heading,
      tokens.$font-application-l-headline1-letter-spacing
    ),
  $display-3:
    material.mat-typography-level(
      tokens.$font-application-l-headline2-font-size,
      tokens.$font-application-l-headline2-line-height,
      tokens.$font-application-l-headline2-font-weight,
      $font-family-heading,
      tokens.$font-application-l-headline2-letter-spacing
    ),
  $display-2:
    material.mat-typography-level(
      tokens.$font-application-l-headline3-font-size,
      tokens.$font-application-l-headline3-line-height,
      tokens.$font-application-l-headline3-font-weight,
        $font-family-heading,
      tokens.$font-application-l-headline3-letter-spacing
    ),
  $display-1:
    material.mat-typography-level(
      tokens.$font-application-l-headline4-font-size,
      tokens.$font-application-l-headline4-line-height,
      tokens.$font-application-l-headline4-font-weight,
        $font-family-heading,
      tokens.$font-application-l-headline4-letter-spacing
    ),
  $headline:
    material.mat-typography-level(
      tokens.$font-application-l-headline5-font-size,
      tokens.$font-application-l-headline5-line-height,
      tokens.$font-application-l-headline5-font-weight,
        $font-family-text,
      tokens.$font-application-l-headline5-letter-spacing
    ),
  $title:
    material.mat-typography-level(
      tokens.$font-application-l-headline6-font-size,
      tokens.$font-application-l-headline6-line-height,
      tokens.$font-application-l-headline6-font-weight,
        $font-family-text,
      tokens.$font-application-l-headline6-letter-spacing
    ),
  $subheading-2:
    material.mat-typography-level(
      tokens.$font-application-l-subtitle1-font-size,
      tokens.$font-application-l-subtitle1-line-height,
      tokens.$font-application-l-subtitle1-font-weight,
        $font-family-text,
      tokens.$font-application-l-subtitle1-letter-spacing
    ),
  $subheading-1:
    material.mat-typography-level(
      tokens.$font-application-l-subtitle2-font-size,
      tokens.$font-application-l-subtitle2-line-height,
      tokens.$font-application-l-subtitle2-font-weight,
        $font-family-text,
      tokens.$font-application-l-subtitle2-letter-spacing
    ),
  $body-1:
    material.mat-typography-level(
      tokens.$font-application-l-body1-font-size,
      tokens.$font-application-l-body1-line-height,
      tokens.$font-application-l-body1-font-weight,
        $font-family-text,
      tokens.$font-application-l-body1-letter-spacing
    ),
  $body-2:
    material.mat-typography-level(
      tokens.$font-application-l-body2-font-size,
      tokens.$font-application-l-body2-line-height,
      tokens.$font-application-l-body2-font-weight,
        $font-family-text,
      tokens.$font-application-l-body2-letter-spacing
    ),
  $button:
    material.mat-typography-level(
      tokens.$font-application-l-button-font-size,
      tokens.$font-application-l-button-line-height,
      tokens.$font-application-l-button-font-weight
    ),
  $caption:
    material.mat-typography-level(
      tokens.$font-application-l-caption-font-size,
      tokens.$font-application-l-caption-line-height,
      tokens.$font-application-l-caption-font-weight,
      null,
      tokens.$font-application-l-caption-letter-spacing
    )
);

$mbti-theme: material.mat-light-theme(
  (
    color: (
      primary: $mbti-theme-primary,
      accent: $mbti-theme-secondary,
      warn: $mbti-theme-error
    )
  )
);

@mixin overline {
  font-size: tokens.$font-application-l-overline-font-size;
  line-height: tokens.$font-application-l-overline-line-height;
  font-weight: tokens.$font-application-l-overline-font-weight;
  letter-spacing: tokens.$font-application-l-overline-letter-spacing;
  color: material.mat-color($mbti-theme-secondary);
  text-transform: tokens.$font-application-l-overline-text-transform;
}
