<!-- © Daimler TSS GmbH-->
<!-- SPDX-License-Identifier: MIT-->

<div class="section-header">
  <div class="hyperlink">
    <a mat-button href="https://material.angular.io/components/toolbar/overview" target="_blank" rel="noopener noreferrer">
      Short App Bar
      <i class="material-icons">open_in_new</i>
    </a>
  </div>
</div>
<div class="component-wrapper">
  <kit-app-bar>
    <div header>
      <a mat-icon-button>
        <mat-icon>menu</mat-icon>
      </a>
    </div>
    <div body>
      <a mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </a>
    </div>
  </kit-app-bar>
</div>
