<!-- SPDX-License-Identifier: MIT-->

<div class="section-header">
  <div class="hyperlink">
    <a mat-button href="https://material.angular.io/components/checkbox/overview" target="_blank" rel="noopener noreferrer">
      Check box
      <i class="material-icons">open_in_new</i>
    </a>
  </div>
</div>
<div class="component-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
  <mat-checkbox color="primary"></mat-checkbox>
  <mat-checkbox color="primary" [indeterminate]="true"></mat-checkbox>
  <mat-checkbox color="accent" [indeterminate]="true"></mat-checkbox>
  <mat-checkbox color="accent" [checked]="true"></mat-checkbox>
  <mat-checkbox color="primary" [checked]="true"></mat-checkbox>
</div>
